<!-- 
<style>
  
</style>
-->


<!DOCTYPE html>
<html>

<head>
    <title>Havi Project API</title>
    <link rel="stylesheet" href="style.css">

</head>


<body>
    <h1>Havi Project API</h1>
    <p>Hey you are on the landing page for API</p>
    <p>To check documentation and usage check this:
        <a href="https://documenter.getpostman.com/view/15622406/UVJZoJGY">https://documenter.getpostman.com/view/15622406/UVJZoJGY</a>
    </p>
    <p>To check the GitHub code for API:
        <a href="https://github.com/Samcanes/havi-project-server">https://github.com/Samcanes/havi-project-server</a>
    </p>
    <p></p>
    <p>Check Front End Application:
        <a href="https://havi-project-client.herokuapp.com">https://havi-project-client.herokuapp.com</a>
    </p>
    <p>Check the GitHub code for Front END:
        <a href="https://github.com/Samcanes/havi-project-client">https://github.com/Samcanes/havi-project-client</a>
    </p>
    <p></p>
</body>

</html>